/*
- dark blue --> #001049
- blue --> #000F92
- golden --> #A39306
*/

svg {
	padding-right: 20px;
}
strong {
	color: #a39306;
}
table {
	border: 2px solid #a39306;
	width: 90%;
	text-align: center;
}

table,
th,
td {
	border: 2px solid #a39306;
	border-collapse: collapse;
	padding: 10px;
	table-layout: fixed;
}

thead {
	background-color: #000f92;
	color: white;
}

input {
	padding: 5px;
}
label {
	color: #001049;
	font-weight: 500;
	padding: 5px 5px 10px 0px;
}
form strong {
	font-weight: 700;
	font-size: larger;
	padding: 20px;
}
.indexList {
	background-color: #000f92;
	color: white;
	width: 6%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
}

.index {
	color: white;
	background-color: transparent;
	font-size: medium;
	margin: 5px 0px;
	border: 0px none;
	text-align: center;
}

.title {
	color: #a39306;
	font-weight: 500;
	font-size: 40px;
	padding: 0px 20px 10px 20px;
}

.listItemWrapper {
	color: #000f92;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.deleteCard {
	padding: 0;
	align-self: flex-start;
	margin: -5px;
}
.toRight {
	position: absolute;
	padding-left: 185px;
}
.loggedinBookContainer {
	margin: 20px;
	border: 4px solid #000f92;
	border-radius: 20px;
	padding: 20px 0px 20px 20px;
	width: 300px;
	min-height: 400px;
	display: flex;
	justify-content: space-between;
}

.contactCard {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #000f92;
	border-radius: 10px;
	padding: 10px 10px 10px 20px;
	margin-bottom: 20px;
}
.contactDetailsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 40px 20px;
}

.ContactsPageBodyContainer {
	display: flex;
	justify-content: space-evenly;
}
.addContact {
	background-color: #000f92;
	color: #a39306;
	border-radius: 20px;
	width: 90%;
	height: 50px;
	font-size: larger;
	border: 2px solid #a39306;
	margin: 10px;
}
.navBar {
	background-color: #001049;
	color: #a39306;
	height: 80px;
	text-align: center;
	font-size: xxx-large;
	padding-left: 30px;
	margin-bottom: 50px;
}

.tableContainer {
	display: flex;
	justify-content: center;
}

.formContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	flex-direction: column;
	align-items: center;
	border: 2px solid #a39306;
	border-radius: 15px;
	width: 200px;
	padding: 10px;
}

.hideForm {
	display: none;
}

#submit {
	background-color: #001049;
	color: #a39306;
	width: 50%;
	font-size: medium;
	border-color: #a39306;
	font-weight: 600;
	padding: 6px;
	border-radius: 7px;
}

.centerDiv {
	text-align: center;
	margin-bottom: 10px;
}

.adminPageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
